<!DOCTYPE html>
<html>
<head>
  <title>Fitness Time</title>
  <!-- bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <!-- custom design -->
    <link rel="stylesheet" href="/stylesheets/design.css">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Anton|Dosis|Merienda" rel="stylesheet">


</head>
<body>
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fitness Tym</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>


<div class="container mt-3">

<a href="/addMember" class="btn btn-warning" role="button">Add member</a>
<a href="/showMembers" class="btn btn-warning" role="button">Show Members</a></button>
<a href="/memberPayInfo" class="btn btn-warning" role="button">Member Payment info</a></button>
<a href="/newMembers" class="btn btn-warning" role="button">New Members</a></button>
<!-- <button type="button" class="btn btn-outline-info"><a href="/searchById">PaySearch</a></button> -->
<% if (!currentUser){%>
<a href="/signup" class="btn btn-warning" role="button">Signup</a></button>
<a href="/login" class="btn btn-warning" role="button">login</a></button>
<%}else{ %>
<a href="/Logout" class="btn btn-warning" role="button">Logout</a></button>
<button class="btn btn-warning mt-2">Logged in as <%= currentUser.username%></button>
<%}%>
</div>