
<% include partials/admin_header %>

<div class="container mt-5 p-5 text-center ">
<div class="jumbotron">
  <h1 class="display-4 ">Login Form</h1>
  <hr>
  <form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username" class="form-control mt-3 mx-auto" style="width: 50%" required>
    <input type="password" placeholder="Password" name="password" class="form-control mt-3 mx-auto" style="width: 50%" required>
    <div class="text-center mt-3">
            <button class="btn btn-secondary">Submit</button>
     </div>
  </form>
</div>
</div>