<% include partials/admin_header %>

<div class="container">
<h2 class="text-center">Enter Payment number</h2>
<form action="/paySearch" method="POST">
	<label>Payment number</label>
	<input type="number" name="pay_num">
</form>
</div>