<% include partials/header %>

<link rel="stylesheet" type="text/css" href="/stylesheets/pricing.css">

<style type="text/css">
  body{
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  }
</style>



<div class="demo mt-5  rounded">
    <div class="container mt-5 mb-5  rounded">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="pricingTable ">
                    <h3 class="title font1" >Standard</h3>
                    <div class="price-value">
                    	<i class="fa fa-inr" aria-hidden="true"></i>599
                        <span class="month">/month</span>
                    </div>
                    <ul class="pricing-content font1">
                        <li>All gym machines</li>
                        <li>Coach Guidance</li>
                        <li>Expert Nutrition Advice </li>
                        <li>Vehicle Parking</li>
                        <li class="disable">.</i></li>
                        <li class="disable">.</i></li>
                    </ul>
                    <a href="/join" class="pricingTable-signup">Join Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="pricingTable blue">
                    <h3 class="title font1">Intense</h3>
                    <div class="price-value">
                    	<i class="fa fa-inr" aria-hidden="true"></i>999
                        <span class="month">/month</span>
                    </div>
                    <ul class="pricing-content font1">
                        <li>All gym machines</li>
                        <li>Coach Guidance</li>
                        <li>Expert Nutrition Advice </li>
                        <li>All Cardio machines</li>
                        <li>Treadmill & Cycles</li>
                        <li>Vehicle Parking</li>
                    </ul>
                    <a href="/join" class="pricingTable-signup">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>