.font1{
	font-family: 'Merienda', cursive;
}

.bg-hsla{
	background-color: hsla(47, 16%, 14%, 0.25);
}

.font2{
	font-family: 'Dosis', sans-serif;
}

.font3{
	font-family: 'Anton', sans-serif;
}